.box{
    height: 100px;
    width:100%;
    background-color: green;
}
@media(min-width:768px){
    .box{
        background-color:blue;
        
}
@media(min-width:1024px){
    .box{
        background-color: red;
    }
}
body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
}
.logo{
    color:bisque;
    font-size: 1.5rem;
}
.menu{
    display: none;
    top: 60px;
    right: 20px;
    width: 200px;
    flex-direction: column;
    position: absolute;


}
.menu a{
    color:aliceblue;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color:aliceblue;
    cursor: pointer;
}
.menu{
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    width:auto;
}
.hamburger{
    display: none;
}
